{
	"tabWidth": 4,
	"useTabs": true,
	"plugins": ["@poliklot/prettier-plugin-handlebars"],
	"overrides": [
		{
			"files": ["*.hbs", "*.handlebars"],
			"options": {
				"parser": "handlebars",
				"printWidth": 120,
				"useTabs": true,
				"tabWidth": 4
			}
		}
	]
}
